[Desktop Entry]
Type=Application
Name=AxonOS Theme
Exec=/usr/local/bin/apply_theme_session.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
